<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/new.css">
    <%- include ('./partials/head.ejs') %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="new">
      <h1>Edit Flower</h1>
      <div id="new-item">
        <form action="/flora/<%=item.id%>?_method=PUT" method="POST" id="edit-form">
          Name: <input type="text" name="name" value="<%=item.name%>"><br/>
          Description: <input type="text" name="descr" value="<%=item.descr%>"><br/>
          Nation: <input type="text" name="nation" value="<%=item.nation%>">
          Picture: <input type="link" name="img" value="<%=item.img%>"><br/>
          Price: <input type="number" name="price" value="<%=item.price%>"><br/>
          Quantity: <input type="number" name="qty" value="<%=item.qty%>"><br/>
          <input type="submit" id="new-submit" value="submit edit"/>
        </form>
        </div>
        <a href="/flora/<%=item.id%>"><button type="button" name="back" id="back-btn">back</button></a>
    </div>
  </body>
</html>
