<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- STYLES -->
    <link rel="stylesheet" href="/index.css">
    <%- include ('./partials/head.ejs') %>
    <meta charset="utf-8">
    <title>florist</title>
    <!-- -->
  </head>
  <body>
    <%- include ('./partials/header.ejs') %>
    <div class="flower xyz-in" xyz="fade duration-20 ease-in" id="flowers">
      <% for (let flower of flowers) { %>
        <div class="" id="flower-index">
          <img src="<%=flower.img%>" id="img-index" height=400px width=300px alt="flower image">
          <h2><%=flower.name%></h2>
          <h5>$<%=flower.price%>/dozen</h5>
          <div class="btns">
            <button type="button" id="flower-btn">
            <a href="/flora/<%=flower._id%>">more info</a>
            <button type="button" id="flower-btn">
            <a href="/flora/<%=flower._id%>">more info</a>
          </div>
        </div>
      <%}%>
  </body>
</html>
