<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- STYLES -->
    <link rel="stylesheet" href="/index.css">
    <%- include ('./partials/head.ejs') %>
    <meta charset="utf-8">
    <title>florist</title>
    <!-- -->
  </head>
  <body>
    <%- include ('./partials/header.ejs') %>
    <div class="new-btn xyz-in" xyz="fade duration-10 ease-in">
      <button type="button" id="new-btn">
      <a href="/flora/new">add inventory</a>
    </div>
    <div class="flower xyz-in" xyz="fade duration-20 ease-in" id="flowers">
      <% for (let flower of flowers) { %>
        <div class="" id="flower-index">
          <img src="<%=flower.img%>" id="img-index" height=400px width=300px alt="flower image">
          <h2><%=flower.name%></h2>
          <h6>$<%=flower.price%>/dozen</h6>
          <div class="btns">
            <% if (flower.qty > 0){ %>
              <form class="buy-btn" action="/flora/buy/<%=flower._id%>?_method=PUT" method="POST">
              <input type="submit" name="buy" id="submit-btn" value="buy">
              </form>
          <% } else {%>
            <button type="button" id="out-btn">out of stock</button>
          <%}%>
            <button type="button" id="flower-btn">
            <a href="/flora/<%=flower._id%>">more info</a>
          </div>
        </div>
      <%}%>
  </body>
</html>
